body {
    background-color: aquamarine;
}

.ratio-container-main {
    position: relative;
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
}

/* object fit solution from https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
.ratio-image-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;

}

.ratio-container {
    position: relative;
    overflow: hidden;
}

/* object fit solution from https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
.ratio-image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.card-body-height {
    height: 7.5rem;
    overflow: auto;
}

.my-width {
    max-width: 1200px;
    margin: 0 auto;
}

.padding {
    padding: 1rem;
    text-align: center;
}

.margin {
    margin: 2rem;
    padding: 1rem;
}

.status {
    position: absolute;
    width: 100%;
    height: fit-content;
    border-radius: 5px 5px 0 0;
}

.status-cancelled {
    background: rgba(177, 0, 0, 0.493);
    color: white;
    padding: 1rem;
}

.status-passed {
    background: rgba(2, 2, 2, 0.493);
    color: white;
    padding: 1rem;
}

.cutoff {
    max-height: 10rem;
    overflow: auto;
}