body {
    background-color: aquamarine;
}

.ratio-container {
    position: relative;
    width: 100%;
    padding-top: 75%;
    overflow: hidden;
}

/* object fit solution from https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
.ratio-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10px;

}

.card-body-height {
    height: 7.5rem;
    overflow: auto;
}

.my-width {
    max-width: 1200px;
    margin: 0 auto;
}