body {
    background-color: aquamarine;
}

.my-width {
    max-width: 1200px;
    margin: 0 auto;
}

.padding {
    padding: 1rem;
    text-align: center;
}

.padding-bottom {
    padding-top: 0;
    padding-bottom: 1rem;
}

.margin {
    margin: 2rem;
    padding: 1rem;
}

.margin-none {
    margin: 0;
}


/* overlay for event_status cancelled or passed */
.status {
    position: absolute;
    width: 100%;
    height: fit-content;
    border-radius: 5px 5px 0 0;
}

.status-cancelled {
    background: rgba(177, 0, 0, 0.493);
    color: white;
    padding: 1rem;
}

.status-passed {
    background: rgba(2, 2, 2, 0.493);
    color: white;
    padding: 1rem;
}

.link-header {
    text-decoration: none;
    color: black;
}

.color-light {
    color: darkgrey;
}