{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BASE TITLE{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <!-- main navigation -->
    <!-- info about code from https://getbootstrap.com/docs/4.3/components/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Events in Jamtland</a>
        <div class="container-fluid">
            <ul class="navbar-nav mr-auto" role="navigation" aria-label="Navigation">
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-label="Home link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" aria-label="Add Event link">Add Event</a>
                </li>
            </ul>
            <a href="#" class="btn btn-primary" role="button" aria-label="Login Link">Login</a>
        </div>
    </nav>

    {% block content %}

    {% endblock content %}

    <!-- Footer with back-to-top-link and social media -->
    <footer class="bg-dark text-center" role="footer">
        <div class="container">
            <ul class="list-inline" role="footer navigation" aria-label="Footer Navigation">
                <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"
                        aria-label="Facebook"><i class="fa-brands fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://www.instagram.com/" target="_blank"
                        aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#top" aria-label="Back to Top">Back to Top</a></li>
            </ul>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c988ad8ef7.js" crossorigin="anonymous"></script>
</body>

</html>