{% extends "base.html" %}

{% block title %}Events in Jämtland{% endblock title %}

{% block content %}


<h1 class="text-center padding">Find out what happens near you!</h1>
{% if object_list %}
<div class="container padding">
    <div class="row justify-content-evenly">

        <div class="col-md-5">
            <div class="row text-center">
                <h2>Next Upcoming Event</h2>
                <div class="col">
                    <a href="{% url 'sorted_posts.html' %}?sort_by=event_start" class="btn btn-primary" role="button">
                        View All Upcoming
                    </a>
                </div>
            </div>
            <div class="card">
                <a href="{% url 'post_detail' last_event_start.slug %}">
                    {% if 'placeholder' in last_event_start.event_image.url %}
                    <div>
                        <img src="https://i.imgur.com/wA1pmla.jpg" class="card-img" alt="{{ last_event_start.title }}">
                    </div>
                    {% else %}
                    <div>
                        <img src="{{ last_event_start.event_image.url }}" class="card-img"
                            alt="{{ last_event_start.title }}">
                    </div>
                    {% endif %}
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title">{{ last_event_start.title }}</h5>
                    <p class="card-text">{{ last_event_start.about }}</p>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <i class="fa-regular fa-calendar-days"> </i> {{ last_event_start.event_start|date:'D, d M Y' }}
                        |
                        <i class="fa-regular fa-clock"> </i> {{last_event_start.event_start|time:'H:i' }}
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-map-location-dot"> </i> {{ last_event_start.get_area_display }} |
                        {{ last_event_start.locale}}</h5>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><small class="text-muted">Added: {{ last_event_start.created_on }}
                                {% if last_event_start.created_on > last_event_start.updated_on %}
                                <br>Updated: {{last_event_start.updated_on }}
                                {% endif %}
                            </small></p>
                    </li>
                </ul>
                <div class="card-body text-center">
                    <a href="{% url 'post_detail' last_event_start.slug %}" class="card-link">Go to Event</a>
                    {% if last_event_start.link != '' %}
                    <a href="{{ last_event_start.link }}" target="_blank" class="card-link">Official Link</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="row text-center">
                <h2>Latest added Event</h2>
                <div class="col">
                    <a href="{% url 'sorted_posts.html' %}?sort_by=-created_on" class="btn btn-primary" role="button">
                        View All Latest
                    </a>
                </div>
            </div>
            <div class="card">
                <a href="{% url 'post_detail' last_event_added.slug %}">
                    {% if 'placeholder' in last_event_added.event_image.url %}
                    <div>
                        <img src="https://i.imgur.com/wA1pmla.jpg" class="card-img" alt="{{ last_event_added.title }}">
                    </div>
                    {% else %}
                    <div>
                        <img src="{{ last_event_added.event_image.url }}" class="card-img"
                            alt="{{ last_event_added.title }}">
                    </div>
                    {% endif %}
                </a>
                <div class="card-body text-center">
                    <h5 class="card-title"><a class="link-header" href="{% url 'post_detail' last_event_added.slug %}">
                            {{last_event_added.title}}</h5></a>
                    <div>
                        {% if last_event_added.about|length > 225 %}
                        <p class="card-text">{{ last_event_added.about|truncatechars:225 }}<a
                                href="{% url 'post_detail' last_event_added.slug %}">Read More</a></p>
                        {% else %}
                        <p class="card-text">{{ last_event_added.about }}</p>
                        {% endif %}
                    </div>
                </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">
                        <i class="fa-regular fa-calendar-days"> </i> {{ last_event_added.event_start|date:'D, d M Y' }}
                        |
                        <i class="fa-regular fa-clock"> </i> {{last_event_added.event_start|time:'H:i' }}
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-map-location-dot"> </i> {{ last_event_added.get_area_display }} |
                        {{ last_event_added.locale}}</h5>
                    </li>
                    <li class="list-group-item">
                        <p class="card-text"><small class="text-muted">Added: {{ last_event_added.created_on }}
                                {% if last_event_added.created_on > last_event_added.updated_on %}
                                <br>Updated: {{last_event_added.updated_on }}
                                {% endif %}
                            </small></p>
                    </li>
                </ul>
                <div class="card-body text-center">
                    <a href="{% url 'post_detail' last_event_added.slug %}" class="card-link">Go to Event</a>
                    {% if last_event_added.link != '' %}
                    <a href="{{ last_event_added.link }}" target="_blank" class="card-link">Official Link</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</div>
{% else %}
<div class="container padding">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No events available :(</h5>
                <p class="card-text">There are currently no events to display.
                    {% if user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url 'add_post' %}" aria-label="Add Event link">Add
                        Event!</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'account_login' %}" aria-label="Add Event link">
                        Log In</a>
                    and add event!
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% endblock content %}