{% extends 'base.html' %}

{% block content %}

<!-- initial card code from https://getbootstrap.com/docs/4.3/components/card/ -->
<div class="container-fluid">
    <div class="card margin">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if 'placeholder' in post.event_image.url %}
                <div>
                    <img class="card-img-top" src="https://i.imgur.com/wA1pmla.jpg" alt="placeholder image">
                </div>
                {% else %}
                <div class="ratio-container">
                    <img class="card-img-top" src="{{ post.event_image.url }}" alt="user uploaded image">
                </div>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <h6 class="card-title">{{ post.event_date }} {{ post.event_time }}</h6>
                    <h5><i class="fa-solid fa-map-location-dot"> </i> {{ post.get_area_display }} |
                        {{ post.locale}}</h5>
                    <h5><i class="fa-regular fa-calendar-days"> </i> {{ post.event_start|date:'D, d M Y' }} |
                        <i class="fa-regular fa-clock"> </i> {{post.event_start|time:'H:i' }}
                    </h5>
                    <p class="card-text">{{ post.about }}</p>
                    {% if last_event_start.link != '' %}
                    <a href="{{ post.link }}" class="btn btn-primary" target="_blank">Official Link</a>
                    {% endif %}
                    <p class="card-text"><small class="text-muted">Added: {{ post.created_on }}
                            {% if post.created_on > post.updated_on %}
                            <br>Updated: {{post.updated_on }}
                            {% endif %}
                        </small></p>
                </div>
            </div>
            {% if user.is_authenticated and post.author == user %}
            <div class="col text-center">
                <a class="btn btn-warning" role="button" aria-label="Update post link"
                    href="{% url 'update_post' post.slug %}">Update</a>
                <a class="btn btn-danger" role="button" aria-label="Delete post link"
                    href="{% url 'delete_post' post.slug %}">Delete</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}