{% extends "base.html" %}

{% block title %}Sorted Events{% endblock title %}

{% block content %}

<div class="text-center">
    <h1>All Events</h1>
    <h4>Sort Events</h4>
    <a href="{% url 'sorted_posts.html' %}?sort_by=event_start">Upcoming Events (Next)</a> |
    <a href="{% url 'sorted_posts.html' %}?sort_by=-event_start">Upcoming Events (Last)</a> |
    <a href="{% url 'sorted_posts.html' %}?sort_by=created_on">Date Added (Oldest)</a> |
    <a href="{% url 'sorted_posts.html' %}?sort_by=-created_on">Date Added (Latest)</a>
</div>

{% if object_list %}
<div class="container mt-5">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-12 mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% if post.is_event_cancelled %}
                        <div class="status status-cancelled">
                            <h3>Event Cancelled</h3>
                        </div>
                        {% elif post.is_event_passed %}
                        <div class="status status-passed">
                            <h3>Event Passed</h3>
                        </div>
                        {% else %}
                        {% endif %}
                        <a href="{% url 'post_detail' post.slug %}">
                            {% if 'placeholder' in post.event_image.url %}
                            <img src="https://i.imgur.com/wA1pmla.jpg" class="card-img" alt="{{ post.title }}">
                            {% else %}
                            <img src="{{ post.event_image.url }}" class="card-img" alt="{{ post.title }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.about }}</p>
                            <h5><i class="fa-solid fa-map-location-dot"> </i> {{ post.get_area_display }} |
                                {{ post.locale}}</h5>
                            <h5><i class="fa-regular fa-calendar-days"> </i> {{ post.event_start|date:'D, d M Y' }} |
                                <i class="fa-regular fa-clock"> </i> {{post.event_start|time:'H:i' }}
                            </h5>
                            <p class="card-text"><small class="text-muted">Added: {{ post.created_on }}
                                    {% if post.created_on > post.updated_on %}
                                    <br>Updated: {{post.updated_on }}
                                    {% endif %}
                                </small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container padding">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No events available :(</h5>
                <p class="card-text">There are currently no events to display.
                    <a class="btn btn-primary" href="{% url 'add_post' %}" aria-label="Add Event link">Add
                        Event!</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}


<div class="container-fluid">
    <div class="row">
        {% if is_paginated %}
        <nav aria-label="Page Navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?sort_by={{ sort_by }}&page={{ page_obj.previous_page_number }}" class="page-link">&laquo;
                        PREVIOUS</a>
                </li>
                {% endif %}
                {% if page_obj.has_next %}
                <li>
                    <a href="?sort_by={{ sort_by }}&page={{ page_obj.next_page_number }}" class="page-link">NEXT
                        &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock content %}